<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício 05</title>
    <style>
        p,
        h1,
        h3 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Números da mega:</h1>

    <p th:text="${nro0}">Nro-aqui</p>
    <p th:text="${nro1}">Nro-aqui</p>
    <p th:text="${nro2}">Nro-aqui</p>
    <p th:text="${nro3}">Nro-aqui</p>
    <p th:text="${nro4}">Nro-aqui</p>
    <p th:text="${nro5}">Nro-aqui</p>

    <h3>Jogou ganhou ;)</h3>
</body>

</html>